[Desktop Entry]
Version=1.0
Type=Link
Name=Session 25 - Early Quantum Mechanics
Comment=Session 25 - Early Quantum Mechanics
Icon=firefox
URL=https://bit.ly/2KrBfYS
GenericName=Session 25 - Early Quantum Mechanics

