[Desktop Entry]
Version=1.0
Type=Link
Name=Session 25 - Early Quantum Mechanics
Comment=Session 25 - Early Quantum Mechanics
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EZsyzD3R0aNFozoX7AQxaGIBYdXTHSSezXIfIJXP3j3gxw?e=cjabjP
GenericName=Session 25 - Early Quantum Mechanics

