[Desktop Entry]
Version=1.0
Type=Link
Name=Session 24 - Dynamical Systems, Fractals
Comment=Session 24 - Dynamical Systems, Fractals
Icon=firefox
URL=https://goo.gl/DpzPYp
GenericName=Session 24 - Dynamical Systems, Fractals

