[Desktop Entry]
Version=1.0
Type=Link
Name=Session 24 - Dynamical Systems, Fractals
Comment=Session 24 - Dynamical Systems, Fractals
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/Efh76f52jiBHnmfJpKHc4ycBN95SGTwisNDuSoBZRfO1WA?e=mlHBRr
GenericName=Session 24 - Dynamical Systems, Fractals

