[Desktop Entry]
Version=1.0
Type=Link
Name=Session 17 - Computational Chemistry, Clustering
Comment=Session 17 - Computational Chemistry, Clustering
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EWYLXKc_hu5CpabZZ5vIEo4BloTxIS8DFm5cIi8m19kkCA?e=Xdsdse
GenericName=Session 17 - Computational Chemistry, Clustering
