[Desktop Entry]
Version=1.0
Type=Link
Name=Session 17 - Computational Chemistry, Clustering
Comment=Session 17 - Computational Chemistry, Clustering
Icon=firefox
URL=https://goo.gl/CyGA14
GenericName=Session 17 - Computational Chemistry, Clustering
