[Desktop Entry]
Version=1.0
Type=Link
Name=Session 06 - Statistics, Euler Line
Comment=Session 06 - Statistics, Euler Line
Icon=firefox
URL=https://goo.gl/UDTSfQ
GenericName=Session 06 - Statistics, Euler Line
Name[en_US.UTF-8]=Session 06 - Statistics, Euler Line
