[Desktop Entry]
Version=1.0
Type=Link
Name=Session 06 - Statistics, Euler Line
Comment=Session 06 - Statistics, Euler Line
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EZxdX_gkKP1Ni226gRa80j8B-dgYBRUHWr4pGnodwpRLdA?e=zqdagn
GenericName=Session 06 - Statistics, Euler Line
Name[en_US.UTF-8]=Session 06 - Statistics, Euler Line
