[Desktop Entry]
Version=1.0
Type=Link
Name=Session 16 - 3D Graphics, Vector Algebra
Comment=Session 16 - 3D Graphics, Vector Algebra
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/ESmWZPGj2rFJkACL3ck0tbcBiplX8_b5r0_AOHPsY3edhw?e=gDrqpW
GenericName=Session 16 - 3D Graphics, Vector Algebra

