[Desktop Entry]
Version=1.0
Type=Link
Name=Session 16 - 3D Graphics, Vector Algebra
Comment=Session 16 - 3D Graphics, Vector Algebra
Icon=firefox
URL=https://goo.gl/dpLsnQ
GenericName=Session 16 - 3D Graphics, Vector Algebra

