[Desktop Entry]
Version=1.0
Type=Link
Name=Session 23 - Difference Tables, Least Squares
Comment=Session 23 - Difference Tables, Least Squares
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EWDPpD6-GepGmZf8ge9QFpQB_UisZ90-pPYCRtSEhF-94Q?e=Qz8noh
GenericName=Session 23 - Difference Tables, Least Squares

