[Desktop Entry]
Version=1.0
Type=Link
Name=Session 08 - Algorithms, Series Convergence
Comment=Session 08 - Algorithms, Series Convergence
Icon=firefox
URL=https://goo.gl/Tzxhsk
GenericName=Session 08 - Algorithms, Series Convergence
Name[en_US.UTF-8]=Session 08 - Algorithms, Series Convergence
