[Desktop Entry]
Version=1.0
Type=Link
Name=Exam 3 Questions
Comment=Exam 3 Questions
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EbG4T7iWAKxBnWMu4GPBrZcBRday9O-HlPiGAFRugEM1xw?e=rRA1jy
GenericName=Exam 3 Questions

