[Desktop Entry]
Version=1.0
Type=Link
Name=Exam 3 Questions
Comment=Exam 3 Questions
Icon=firefox
URL=https://goo.gl/WvTpHA
GenericName=Exam 3 Questions

