[Desktop Entry]
Version=1.0
Type=Link
Name=Session 01 - SciComp Overview
Comment=Session 01 - SciComp Overview
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EY030sdCGCxBtjKP0c4WshQBoT6WQ8n1joWALEX9gPuN2w?e=hrvmH6
GenericName=Session 01 - SciComp Overview
Name[en_US.UTF-8]=Session 01 - SciComp Overview
