[Desktop Entry]
Version=1.0
Type=Link
Name=Session 01 - SciComp Overview
Comment=Session 01 - SciComp Overview
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EWEbVDYCTGFCuAhTpLiMrV0BXl8JTa3MoCpfeqoPix-h1w?e=aZKChw
GenericName=Session 01 - SciComp Overview
Name[en_US.UTF-8]=Session 01 - SciComp Overview
