[Desktop Entry]
Version=1.0
Type=Link
Name=Session 01 - SciComp Overview
Comment=Session 01 - SciComp Overview
Icon=firefox
URL=https://goo.gl/A3tZCs
GenericName=Session 01 - SciComp Overview
Name[en_US.UTF-8]=Session 01 - SciComp Overview
