[Desktop Entry]
Version=1.0
Type=Link
Name=Session 07 - Creating a New Project
Comment=Session 07 - Creating a New Project
Icon=firefox
URL=https://goo.gl/NvZkmF
GenericName=Session 07 - Creating a New Project
Name[en_US.UTF-8]=Session 07 - Creating a New Project
