[Desktop Entry]
Version=1.0
Type=Link
Name=Session 12 - Continued Fractions, Chi Squared
Comment=Session 12 - Continued Fractions, Chi Squared
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EV7rMupicPxFukTx2vW5OecBKfO0K3n7PGQMWs0ab2R7pQ?e=soYVai
GenericName=Session 12 - Continued Fractions, Chi Squared
Name[en_US.UTF-8]=Session 12 - Continued Fractions, Chi Squared

