[Desktop Entry]
Version=1.0
Type=Link
Name=Session 12 - Continued Fractions, Chi Squared
Comment=Session 12 - Continued Fractions, Chi Squared
Icon=firefox
URL=https://goo.gl/xwnzeH
GenericName=Session 12 - Continued Fractions, Chi Squared
Name[en_US.UTF-8]=Session 12 - Continued Fractions, Chi Squared

