[Desktop Entry]
Version=1.0
Type=Link
Name=Exam 2 Questions
Comment=Exam 2 Questions
Icon=firefox
URL=https://goo.gl/XczR8w
GenericName=Exam 2 Questions

