[Desktop Entry]
Version=1.0
Type=Link
Name=Exam 2 Questions
Comment=Exam 2 Questions
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EcD2UMC5yC1GmzbdTxTys4UBP89s-FavG7v1ggn-eU4KzQ?e=32aXfQ
GenericName=Exam 2 Questions

