[Desktop Entry]
Version=1.0
Type=Link
Name=Exam 1 Questions
Comment=Exam 1 Questions
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EaUL16WLU2NOtb0pXVhNZa8BT6jUfCNUpIyE7LotlZWeyg?e=rghpSP
GenericName=Exam 2 Questions
