[Desktop Entry]
Version=1.0
Type=Link
Name=Exam 1 Questions
Comment=Exam 1 Questions
Icon=firefox
URL=https://bit.ly/2mA4jE3
GenericName=Exam 2 Questions
