[Desktop Entry]
Version=1.0
Type=Link
Name=Session 18 - Computational Biology, Earth Science
Comment=Session 18 - Computational Biology, Earth Science
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/ETeKNyVSvCJHoBYjH3I22McBpK3gANCJpaACwkvVulaH5Q?e=ysbzc5
GenericName=Session 18 - Computational Biology, Earth Science
