[Desktop Entry]
Version=1.0
Type=Link
Name=Session 18 - Computational Biology, Earth Science
Comment=Session 18 - Computational Biology, Earth Science
Icon=firefox
URL=https://goo.gl/rvb2bW
GenericName=Session 18 - Computational Biology, Earth Science
