[Desktop Entry]
Version=1.0
Type=Link
Name=Session 26 - Boolean Algebra, Logic Gates
Comment=Session 26 - Boolean Algebra, Logic Gates
Icon=firefox
URL=https://bit.ly/2AJb6VX
GenericName=Session 26 - Boolean Algebra, Logic Gates

