[Desktop Entry]
Version=1.0
Type=Link
Name=Session 26 - Boolean Algebra, Logic Gates
Comment=Session 26 - Boolean Algebra, Logic Gates
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/ETPDHP3zQ-JDhI9VhSs0qDwBjg3SothsHRn1Tr2LtPav2w?e=n7jLy6
GenericName=Session 26 - Boolean Algebra, Logic Gates

