[Desktop Entry]
Version=1.0
Type=Link
Name=Session 05 - 2D Graphics, Polar Coordinates
Comment=Session 05 - 2D Graphics, Polar Coordinates
Icon=firefox
URL=https://goo.gl/HXEJS2
GenericName=Session 05 - 2D Graphics, Polar Coordinates
Name[en_US.UTF-8]=Session 05 - 2D Graphics, Polar Coordinates
