[Desktop Entry]
Version=1.0
Type=Link
Name=Session 05 - 2D Graphics, Polar Coordinates
Comment=Session 05 - 2D Graphics, Polar Coordinates
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EcCpaL4oP2BBvNU7UzaahT4BtzgrZXt1fiQ7S8PZ-kJn_w?e=yKMHVb
GenericName=Session 05 - 2D Graphics, Polar Coordinates
Name[en_US.UTF-8]=Session 05 - 2D Graphics, Polar Coordinates
