[Desktop Entry]
Version=1.0
Type=Link
Name=Session 15 - Combinatorics, Encoding, Search
Comment=Session 15 - Combinatorics, Encoding, Search
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EZ7Ho0orJElFlmRwCpjrt_oB4kHZcAQMFA0V__BBw84FgQ?e=SdkQqN
GenericName=Session 15 - Combinatorics, Encoding, Search

