[Desktop Entry]
Version=1.0
Type=Link
Name=Session 15 - Combinatorics, Encoding, Search
Comment=Session 15 - Combinatorics, Encoding, Search
Icon=firefox
URL=https://goo.gl/6EtZGT
GenericName=Session 15 - Combinatorics, Encoding, Search

