[Desktop Entry]
Version=1.0
Type=Link
Name=Session 09 - Equilibrium Simulation
Comment=Session 09 - Equilibrium Simulation
Icon=firefox
URL=https://goo.gl/xhMF5p
GenericName=Session 09 - Equilibrium Simulation
Name[en_US.UTF-8]=Session 09 - Equilibrium Simulation
