[Desktop Entry]
Version=1.0
Type=Link
Name=Session 19 - Computational Physics
Comment=Session 19 - Computational Physics
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EXECGRWOr6BGi3-t51LtCQQBNN2JPdCK2gd8x5l8IPE25g?e=MeRhQQ
GenericName=Session 19 - Computational Physics
