[Desktop Entry]
Version=1.0
Type=Link
Name=Session 22 - Search Algorithms, Adjacency Matrix
Comment=Session 22 - Search Algorithms, Adjacency Matrix
Icon=firefox
URL=https://goo.gl/6zBGfa
GenericName=Session 22 - Search Algorithms, Adjacency Matrix

