[Desktop Entry]
Version=1.0
Type=Link
Name=Session 20 - Monte Carlo Method
Comment=Session 20 - Monte Carlo Method
Icon=firefox
URL=https://goo.gl/U9UFZH
GenericName=Session 20 - Monte Carlo Method

