[Desktop Entry]
Version=1.0
Type=Link
Name=Session 20 - Computational Chemistry, Clustering
Comment=Session 20 - Computational Chemistry, Clustering
Icon=firefox
URL=https://goo.gl/zmNcWm
GenericName=Session 20 - Computational Chemistry, Clustering
