[Desktop Entry]
Version=1.0
Type=Link
Name=Session 20 - Monte Carlo Method
Comment=Session 20 - Monte Carlo Method
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EexSc6mw1XdBnnwZv2bC-pkB0UtWXyqDglI6BHqR_4oM-w?e=u2Mka2
GenericName=Session 20 - Monte Carlo Method

