[Desktop Entry]
Version=1.0
Type=Link
Name=Session 13 - CERN ROOT, Nyquist Sampling
Comment=Session 13 - CERN ROOT, Nyquist Sampling
Icon=firefox
URL=https://goo.gl/LdXNej
GenericName=Session 13 - CERN ROOT, Nyquist Sampling
