[Desktop Entry]
Version=1.0
Type=Link
Name=Session 13 - CERN ROOT, Nyquist Sampling
Comment=Session 13 - CERN ROOT, Nyquist Sampling
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EfFr__4wd1VOje4ibT12ngEBMakkkINkTw--7BARDkh6Kg?e=ljfA7h
GenericName=Session 13 - CERN ROOT, Nyquist Sampling
