[Desktop Entry]
Version=1.0
Type=Link
Name=Session 27 - Parallel Programing Using Threads
Comment=Session 27 - Parallel Programing Using Threads
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EfDcSB6SJJtAuhwG1aD7ZYQBoO6xMfn5RlOR0mtTBwY-YA?e=n2AQBQ
GenericName=Session 27 - Parallel Programing Using Threads

