[Desktop Entry]
Version=1.0
Type=Link
Name=Session 02 - Code Structure, Variables
Comment=Session 02 - Code Structure, Variables
Icon=firefox
URL=https://goo.gl/FNr72s
GenericName=Session 02 - Code Structure, Variables
Name[en_US.UTF-8]=Session 02 - Code Structure, Variables
