[Desktop Entry]
Version=1.0
Type=Link
Name=Session 04 - Vectors, Random Numbers, Timing
Comment=Session 04 - Vectors, Random Numbers, Timing
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EU5vG65CD6tBmPj1oqk8DZwBnW0rZxBqG6EShMTudQIPlw?e=zvSbRS
GenericName=Session 04 - Vectors, Random Numbers, Timing
Name[en_US.UTF-8]=Session 04 - Vectors, Random Numbers, Timing
