[Desktop Entry]
Version=1.0
Type=Link
Name=Session 14 - Cryptanalysis, Anagrams
Comment=Session 14 - Cryptanalysis, Anagrams
Icon=firefox
URL=https://goo.gl/9qfDir
GenericName=Session 14 - Cryptanalysis, Anagrams
