[Desktop Entry]
Version=1.0
Type=Link
Name=Session 14 - Cryptanalysis, Anagrams
Comment=Session 14 - Cryptanalysis, Anagrams
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/Eb4-pBt7_k9Jmn2CHvAfRDQBGFPVlu1z-fktDeZ3xFCVEg?e=5QzO3l
GenericName=Session 14 - Cryptanalysis, Anagrams
