[Desktop Entry]
Version=1.0
Type=Link
Name=Session 03 - Loops, Conditionals, Modulus
Comment=Session 03 - Loops, Conditionals, Modulus
Icon=firefox
URL=https://goo.gl/NziSQz
GenericName=Session 03 - Loops, Conditionals, Modulus
Name[en_US.UTF-8]=Session 03 - Loops, Conditionals, Modulus
