[Desktop Entry]
Version=1.0
Type=Link
Name=Session 11 - Complex Algebra
Comment=Session 11 - Complex Algebra
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/ERFOf5UMwXVCptTHKYDAkTsB7ZBURlwVQhAtM0P16-MiFw?e=9XHMWT
GenericName=Session 11 - Complex Algebra
