[Desktop Entry]
Version=1.0
Type=Link
Name=Session 11 - Complex Algebra
Comment=Session 11 - Complex Algebra
Icon=firefox
URL=https://goo.gl/7EuVHH
GenericName=Session 11 - Complex Algebra
