[Desktop Entry]
Version=1.0
Type=Link
Name=Session 21 - Fourier Transform, Signals Analysis
Comment=Session 21 - Fourier Transform, Signals Analysis
Icon=firefox
URL=https://goo.gl/8XnTsZ
GenericName=Session 21 - Fourier Transform, Signals Analysis

