[Desktop Entry]
Version=1.0
Type=Link
Name=Session 21 - Fourier Transform, Signals Analysis
Comment=Session 21 - Fourier Transform, Signals Analysis
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EQLcxCk_kjdHgRs6LjB2nMsBigtipXOibNuRiZJY7-aX5Q?e=8skGoQ
GenericName=Session 21 - Fourier Transform, Signals Analysis

