[Desktop Entry]
Version=1.0
Type=Link
Name=Session 21 - Fourier Transform, Signals Analysis
Comment=Session 21 - Fourier Transform, Signals Analysis
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/Ea0A65448g5KtacSBOlFfuwBK4WmziLmBMV1GKwLFxDGgw?e=xpiOib
GenericName=Session 21 - Fourier Transform, Signals Analysis

