[Desktop Entry]
Version=1.0
Type=Link
Name=Session 10 - Matrix Algebra, Number Theory
Comment=Session 10 - Matrix Algebra, Number Theory
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EUMz4B8V_XhMviId5T75Q2sBlIYMua1Ly5z0847FapNSFg?e=WratEz
GenericName=Session 10 - Matrix Algebra, Number Theory
