[Desktop Entry]
Version=1.0
Type=Link
Name=Session 10 - Matrix Algebra, Number Theory
Comment=Session 10 - Matrix Algebra, Number Theory
Icon=firefox
URL=https://goo.gl/gNQ62Z
GenericName=Session 10 - Matrix Algebra, Number Theory
